<!-- Google Tag Manager -->
<script type=application/ld+json>
  {
    "@context": "https://schema.org",
    "@type": "Event",
    "name": "SITCON 學生計算機年會 2021",
    "url": "https://sitcon.org/2021/",
    "startDate": "2021-05-29T08:30+08:00",
    "location": {
      "@type": "EventVenue",
      "name": "中央研究院人文社會科學館 國際會議廳 ",
      "address": "台北市南港區研究院路二段128號"
    },
    "organizer": {
      "@type": "Organization",
      "url": "https://sitcon.org",
      "name": "SITCON 學生計算機年會",
      "logo": "https://sitcon.org/branding/withname.png",
      "sameAs": [
        "https://www.youtube.com/user/SITCONArchive",
        "https://www.facebook.com/SITCONtw/",
        "https://twitter.com/sitcontw"
      ]
    },
    "image": [
      "https://sitcon.org/2021/cfp-OG-image.png"
    ],
    "description": "奠基於今日的科技成果，貢獻明日的資訊未來：SITCON 2021「算盤的後裔」現正徵稿中！",
    "endDate": "2021-05-29T18:00+08:00",
    "performer": {
      "@type": "Organization",
      "url": "https://sitcon.org",
      "name": "SITCON 學生計算機年會",
      "logo": "https://sitcon.org/logo/sitcon.png",
      "sameAs": [
        "https://www.youtube.com/user/SITCONArchive",
        "https://www.facebook.com/SITCONtw/",
        "https://twitter.com/sitcontw"
      ]
    },
    "offers": [
      {
        "@type": "Offer",
        "name": "邀請票（講者、與談人、特殊議程顧問）",
        "category": "premium",
        "price": 0,
        "priceCurrency": "TWD",
        "availability": "InStock",
        "url": "https://sitcon.kktix.cc/events/sitcon2021",
        "validFrom": "2021-02-08T00:00:00.000+08:00",
        "validThrough": "2021-05-20T23:59:00.000+08:00"
      },
      {
        "@type": "Offer",
        "name": "普通票（第一階段）",
        "category": "primary",
        "price": 0,
        "priceCurrency": "TWD",
        "availability": "OutOfStock",
        "url": "https://sitcon.kktix.cc/events/sitcon2021",
        "validFrom": "2021-04-02T20:00:00.000+08:00",
        "validThrough": "2021-04-15T23:59:00.000+08:00"
      },
      {
        "@type": "Offer",
        "name": "學生票（第一階段）",
        "category": "primary",
        "price": 0,
        "priceCurrency": "TWD",
        "availability": "OutOfStock",
        "url": "https://sitcon.kktix.cc/events/sitcon2021",
        "validFrom": "2021-04-02T20:00:00.000+08:00",
        "validThrough": "2021-04-15T23:59:00.000+08:00"
      },
      {
        "@type": "Offer",
        "name": "邀請票（SITCON x OSCVPass 開源貢獻票）",
        "category": "primary",
        "price": 0,
        "priceCurrency": "TWD",
        "availability": "OutOfStock",
        "url": "https://sitcon.kktix.cc/events/sitcon2021",
        "validFrom": "2021-03-13T00:00:00.000+08:00",
        "validThrough": "2021-04-30T23:59:00.000+08:00"
      },
      {
        "@type": "Offer",
        "name": "邀請票（社群攤位、組長邀請票）",
        "category": "premium",
        "price": 0,
        "priceCurrency": "TWD",
        "availability": "InStock",
        "url": "https://sitcon.kktix.cc/events/sitcon2021",
        "validFrom": "2021-03-02T00:00:00.000+08:00",
        "validThrough": "2021-05-16T23:59:00.000+08:00"
      },
      {
        "@type": "Offer",
        "name": "邀請票（遠道而來票）",
        "category": "premium",
        "price": 0,
        "priceCurrency": "TWD",
        "availability": "OutOfStock",
        "url": "https://sitcon.kktix.cc/events/sitcon2021",
        "validFrom": "2021-03-02T00:00:00.000+08:00",
        "validThrough": "2021-04-15T23:59:00.000+08:00"
      },
      {
        "@type": "Offer",
        "name": "邀請票（Hour of Code、2020 愛情彩得主、投稿者、專業審稿委員、2020 講者）",
        "category": "premium",
        "price": 0,
        "priceCurrency": "TWD",
        "availability": "InStock",
        "url": "https://sitcon.kktix.cc/events/sitcon2021",
        "validFrom": "2021-02-08T00:00:00.000+08:00",
        "validThrough": "2021-05-12T23:59:00.000+08:00"
      },
      {
        "@type": "Offer",
        "name": "普通票（第二階段）",
        "category": "primary",
        "price": 0,
        "priceCurrency": "TWD",
        "availability": "SoldOut",
        "url": "https://sitcon.kktix.cc/events/sitcon2021",
        "validFrom": "2021-04-18T20:00:00.000+08:00",
        "validThrough": "2021-05-12T23:59:00.000+08:00"
      },
      {
        "@type": "Offer",
        "name": "學生票（第二階段）",
        "category": "primary",
        "price": 0,
        "priceCurrency": "TWD",
        "availability": "SoldOut",
        "url": "https://sitcon.kktix.cc/events/sitcon2021",
        "validFrom": "2021-04-18T20:00:00.000+08:00",
        "validThrough": "2021-05-12T23:59:00.000+08:00"
      },
      {
        "@type": "Offer",
        "name": "邀請票（Creator 抽獎贈票）",
        "category": "premium",
        "price": 0,
        "priceCurrency": "TWD",
        "availability": "InStock",
        "url": "https://sitcon.kktix.cc/events/sitcon2021",
        "validFrom": "2021-02-26T00:00:00.000+08:00",
        "validThrough": "2021-05-12T23:59:00.000+08:00"
      },
      {
        "@type": "Offer",
        "name": "小石吃元宵（元宵節）",
        "category": "primary",
        "price": 0,
        "priceCurrency": "TWD",
        "availability": "OutOfStock",
        "url": "https://sitcon.kktix.cc/events/sitcon2021",
        "validFrom": "2021-02-26T20:00:00.000+08:00",
        "validThrough": "2021-02-26T23:59:00.000+08:00"
      },
      {
        "@type": "Offer",
        "name": "小石回娘家（大年初二）",
        "category": "primary",
        "price": 0,
        "priceCurrency": "TWD",
        "availability": "OutOfStock",
        "url": "https://sitcon.kktix.cc/events/sitcon2021",
        "validFrom": "2021-02-13T12:00:00.000+08:00",
        "validThrough": "2021-02-13T23:59:00.000+08:00"
      },
      {
        "@type": "Offer",
        "name": "小石搶頭香（大年初一）",
        "category": "primary",
        "price": 0,
        "priceCurrency": "TWD",
        "availability": "OutOfStock",
        "url": "https://sitcon.kktix.cc/events/sitcon2021",
        "validFrom": "2021-02-11T23:00:00.000+08:00",
        "validThrough": "2021-02-12T23:59:00.000+08:00"
      }
    ],
    "eventStatus": "EventScheduled"
  }
</script>
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NPVBCDZ');
</script>
<!-- End Google Tag Manager -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-34467841-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-34467841-1');
</script>
