#agenda {
    margin: 0 auto;
    max-width: 1200px;

    div.event.container {
        display: grid;
        grid-template-columns: min-content repeat(6, 1fr) min-content;
        column-gap: 30px;

        img.arrow {
            margin: auto;
            width: fit-content;
            height: calc(99/217 * 100%);
        }
    }
}