@import './breakpoint';
@import './color';
@import './font';

@mixin RWDFontSize {
  font-size: 14pt;
  @media screen and (max-width: $max-width-medium-0) {
    font-size: 12pt;
  }
}
@mixin RWDWidth {
  max-width: 80%;
  @media screen and (max-width: $max-width-medium-0) {
    max-width: 85%;
  }
  @media screen and (max-width: $max-width-small-0) {
    max-width: 85%;
  }
  @media screen and (max-width: $max-width-small-2) {
    max-width: 85%;
  }
}
@mixin RWDButton {
  font-size: 16pt;
  line-height: 1.44;
  @media screen and (max-width: $max-width-medium-0) {
  }
  @media screen and (max-width: $max-width-small-0) {
    font-size: 14pt;
    line-height: 1.3;
  }
  @media screen and (max-width: $max-width-small-2) {
  }
}
// -------------------------------------------

#agenda {
  margin: 0 auto;
  @include RWDWidth;
  padding-top: 50px;
  padding-bottom: 50px;

  @include fontFamily-semibold;
  @include RWDFontSize;

  article {
    line-height: 2;
    margin: 50px 0;

    &.bold {
      @include fontFamily-bold;
    }
  }

  p.vote {
    text-align: center;
    padding: 50px 0;

    a.vote.button {
      display: inline-block;
      padding: 7px 20px;

      background-color: $indigo-blue;
      border: none;
      border-radius: 32px;
      @include fontFamily-black;
      color: white;
      @include RWDButton;
    }
  }

  ol.vote.rule {
    list-style-type: decimal;

    li {
      line-height: 2;
      // prevent marker overflow
      margin-left: 1.5em;
    }
  }

  div.event.container:not(.mobile) {
    display: flex;
    flex-direction: row;

    --gap: 30px;

    @media screen and (max-width: 1200px) {
      --gap: 20px;
    }
    @media screen and (max-width: 1024px) {
      --gap: 10px;
    }

    .event.block {
      flex: 1;
      margin: 0 calc(var(--gap) / 2);
    }

    .arrow {
      flex-basis: 0;
      align-self: center;
      width: 55px;

      @media screen and (max-width: 1200px) {
        width: 37px;
      }

      &:first-of-type {
        margin-right: calc(var(--gap) / 2);
      }

      &:last-of-type {
        margin-left: calc(var(--gap) / 2);
      }
    }
  }

  .agendaList {
    padding: 50px 0 120px 0;
    &-itemsBox {
      padding: 20px 0;
      margin: 0 auto;
      width: 80%;
      @media screen and (max-width: $max-width-medium-0) {
      }
      @media screen and (max-width: $max-width-medium-1) {
      }
      @media screen and (max-width: $max-width-small-0) {
        width: 90%;
      }
      @media screen and (max-width: $max-width-small-1) {
        width: 95%;
      }
      background-color: rgba($white, 0.3);
      box-shadow: 0 2rem 4rem rgba($black, 0.2);
    }

    &-topic {
      background-color: $white;
      width: 70%;

      @media screen and (max-width: $max-width-medium-0) {
      }
      @media screen and (max-width: $max-width-medium-1) {
      }
      @media screen and (max-width: $max-width-small-0) {
        width: 80%;
        height: 50px;
        padding-top: 13px;
      }
      @media screen and (max-width: $max-width-small-1) {
        width: 85%;
      }

      height: 80px;
      margin: 100px auto 20px auto;
      border-radius: 50px;
      border: $sky-blue solid 1px;
      &:nth-of-type(1) {
        margin: 0px auto 10px auto;
      }
    }

    &-item {
      height: 60px;
      width: 70%;
      @media screen and (max-width: $max-width-small-1) {
        width: 80%;
      }
      text-align: center;
      border: $white solid 1px;
      border-radius: 50px;
      margin: 10px auto;
      position: relative;
      background-color: $indigo-blue;
      &:hover {
        background-color: #ff9f43;
        transition: linear 0.2s;
        span {
          color: $black;
        }
      }
      span {
        @include fontFamily-black;
        width: 100%;
        font-size: 16pt;
        line-height: 20px;
        @media screen and (max-width: $max-width-medium-0) {
          font-size: 15pt;
          width: 90%;
        }
        @media screen and (max-width: $max-width-medium-1) {
          font-size: 14pt;
        }
        @media screen and (max-width: $max-width-small-0) {
          font-size: 12pt;
        }
        @media screen and (max-width: $max-width-small-1) {
          font-size: 10pt;
          width: 80%;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        color: $white;
      }
    }
  }
}

@media screen and (max-width: $max-width-medium-1) {
  #agenda {
    p.vote {
      padding: 0;
    }

    div.mobile.event.container {
      .column {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;

        .event.block {
          width: 33%;
        }

        > :nth-child(2) {
          margin-left: 20px;
          margin-right: 20px;
        }

        // column with two item only
        > :last-child:nth-child(2) {
          margin-left: 10px;
          margin-right: 0;
        }

        // column with one item and two arrows
        > .arrow ~ :nth-child(2) {
          margin-left: 30px;
          margin-right: 30px;
        }

        &:not(:first-child) {
          // more vertically compact column
          margin-top: -20px;
        }
      }

      .arrow {
        // percentage height in flex with dynamic main size doesn't work
        // see more: https://www.w3.org/TR/css-flexbox-1/#change-201403-definite-flexing
        // height: 80%;

        // Setting its width then it works. magic, don't touch please
        width: 17.5%;
      }
    }
  }
}
