@import './breakpoint';
@import './color';
@import './font';

// agendaBlock
@mixin agendaBlockContainerWidth {
  width: 80%;
}

@mixin agendaBlockContainerScroll {
  top: 5vh;
  height: 90vh;
  @media screen and (max-width: $max-width-small-1) {
    height: 85vh;
  }
}

@mixin agendaBlockTittle {
  width: 70%;
  margin: 5% 0 0% 8%;
  @media screen and (max-width: $max-width-small-1) {
    margin-top: 8%;
  }
  @media screen and (max-width: $max-width-small-3) {
    margin-top: 10%;
  }
}
@mixin agendaBlockTittleH1Fontsize {
  font-size: 20pt;
  @media screen and (max-width: $max-width-medium-0) {
    font-size: 18pt;
  }
  @media screen and (max-width: $max-width-small-1) {
    font-size: 15pt;
  }
}

@mixin agendaBlockTittleSub {
  font-size: 14pt;
  margin-right: 20px;
  @media screen and (max-width: $max-width-medium-0) {
    font-size: 13pt;
    margin-right: 15px;
  }
  @media screen and (max-width: $max-width-small-1) {
    font-size: 12pt;
    margin-right: 10px;
  }
  @media screen and (max-width: $max-width-small-3) {
    font-size: 10pt;
    margin-right: 8px;
  }
}

@mixin agendaBlockContentMargin {
  margin: 0 auto;
  margin-top: 5%;
  @media screen and (max-width: $max-width-medium-0) {
    margin-top: 5%;
  }
  @media screen and (max-width: $max-width-medium-1) {
    margin-top: 7%;
  }
  @media screen and (max-width: $max-width-small-0) {
    margin-top: 8%;
  }
  @media screen and (max-width: $max-width-small-1) {
    margin-top: 7%;
  }
  @media screen and (max-width: $max-width-small-3) {
    margin-top: 10%;
  }
}
@mixin agendaBlockContentLeftFontsize {
  font-size: 11pt;
  @media screen and (min-width: $max-width-big) {
    font-size: 12pt;
  }
  @media screen and (min-width: $max-width-big-0) {
    font-size: 13pt;
  }
  @media screen and (max-width: $max-width-medium-1) {
    font-size: 10pt;
  }
  @media screen and (max-width: $max-width-small-0) {
    font-size: 10.5pt;
  }
}
@mixin agendaBlockContentLeftMargin {
  margin-left: 70px;
  @media screen and (max-width: $max-width-medium-0) {
    margin-left: 50px;
  }
  @media screen and (max-width: $max-width-small-1) {
    margin-left: 0px;
  }
}
@mixin agendaBlockContentLeftWidth {
  width: 75%;
  // ! width: 100%;
  @media screen and (max-width: $max-width-small-0) {
    width: 100%;
  }
}
@mixin agendaBlockContentLeftAndRightContainerWidth {
  width: 90%;
}
@mixin agendaBlockContentRightWidth {
  width: 25%;
  // ! width: 0%;
  @media screen and (max-width: $max-width-small-0) {
    width: 100%;
  }
}
@mixin agendaBlockClose {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 20px;
  img {
    width: 50px;
  }
  @media screen and (max-width: $max-width-small-1) {
    top: 25px;
    right: 15px;
    img {
      width: 35px;
    }
  }
}

// ----------------------------------------------------------------------------------------------

.agendaBlock {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($black, 0.5);
  backdrop-filter: blur(5px);
  transition: all 0.3s;
  ol {
    font-size: 11.5pt !important;
  }
  &-container {
    position: relative;
    left: 50%;
    opacity: 0;
    @include agendaBlockContainerWidth;
    background-color: $white;
    box-shadow: 0 2rem 4rem rgba($black, 0.2);
    border-radius: 15px;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;
    overflow: auto;
    @include agendaBlockContainerScroll;
  }

  &:target &-container, .active {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }

  &__title {
    @include fontFamily-black;
    @include agendaBlockTittle;
    h1 {
      @include agendaBlockTittleH1Fontsize;
    }
    &-sub {
      margin-top: 30px;
      span {
        color: $dark-blue;
        @include agendaBlockTittleSub;
      }
    }
  }

  &__content {
    width: 90%;
    height: 70%;
    @include agendaBlockContentMargin;

    &-left {
      @include fontFamily-semibold;
      float: left;
      @include agendaBlockContentLeftWidth;

      &-container {
        margin: 0 auto;
        @include agendaBlockContentLeftAndRightContainerWidth;

        article {
          &:nth-of-type(1) {
            margin: 0 0 110px 0 !important;
          }
          margin: 70px 0 !important;
          h2 {
            @include fontFamily-bold;
            font-size: 16pt;
            margin-bottom: 10px;
          }
          
          p {
            white-space: pre-wrap;
            @include agendaBlockContentLeftFontsize;
            font-size: 11.5pt;
            line-height: 30px;
          }
        }
      }
    }
    &-right {
      float: left;
      @include agendaBlockContentRightWidth;

      &-container {
        margin: 0 auto;
        @include agendaBlockContentLeftAndRightContainerWidth;

        article {
          &:nth-of-type(1) {
            margin: 0 0 20px 0 !important;
          }
          margin: 20px 0 !important;
          h2 {
            @include fontFamily-bold;
            font-size: 15pt;
            margin-bottom: 10px;
          }
          p {
            @include agendaBlockContentLeftFontsize;
            font-size: 11pt;
            line-height: 30px;
          }
        }

        section {
          // height: 200px;
          width: 100%;
          margin: 20px 0;
          float: left;
          border-radius: 5px;
          img {
            max-width: 100%;
            //max-height: 100%;
          }
        }
      }
    }
  }

  &_record {
    height: 150px;
    position: relative;
    background-color: transparent !important;
    iframe {
      background-color: $black;
      width: 100%;
      height: 65%;
      border-radius: 5px;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 255, 0.33);
    }
  }

  &-buttonsBox {
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 10%;
    left: 50%;
    transform: translateX(-50%);
    a {
      float: left;
      color: $white;
      font-size: 13pt;
      width: 45%;
      margin: 0 2.5%;
      padding: 4% 0;
      height: 20%;
      border-radius: 23px;
      background-color: $dark-blue;
    }
  }

  &__close {
    @include agendaBlockClose;
  }
}
