@import './breakpoint';
@import './color';
@import './font';

@mixin RWDFontSize {
  font-size: 14pt;
  @media screen and (max-width: $max-width-medium-0) {
    font-size: 12pt;
  }
}
@mixin RWDWidth {
  max-width: 80%;
  @media screen and (max-width: $max-width-medium-0) {
    max-width: 85%;
  }
  @media screen and (max-width: $max-width-small-0) {
    max-width: 85%;
  }
  @media screen and (max-width: $max-width-small-2) {
    max-width: 85%;
  }
}
@mixin RWDButton {
  font-size: 16pt;
  line-height: 1.44;
  @media screen and (max-width: $max-width-medium-0) {
  }
  @media screen and (max-width: $max-width-small-0) {
    font-size: 14pt;
    line-height: 1.3;
  }
  @media screen and (max-width: $max-width-small-2) {
  }
}
// -------------------------------------------

// agendaPopup
@mixin agendaPopupContainerWidth {
  width: 80%;
  @media screen and (max-width: $max-width-medium-1) {
  }
  @media screen and (max-width: $max-width-small-0) {
  }
  @media screen and (max-width: $max-width-small-1) {
  }
  @media screen and (max-width: $max-width-small-3) {
  }
}
@mixin agendaPopupxTittle {
  // width: 60%;
  width: 90%;
  margin: 5% 0 3% 5%;
  @media screen and (max-width: $max-width-small-1) {
    width: 90%;
    margin-top: 8%;
  }
  @media screen and (max-width: $max-width-small-3) {
    margin-top: 10%;
  }
}
@mixin agendaPopupxTittleH1Fontsize {
  font-size: 21pt;
}
@mixin agendaPopupContentMargin {
  margin: 0 auto;
  @media screen and (max-width: $max-width-medium-0) {
    margin-top: 5%;
  }
  @media screen and (max-width: $max-width-medium-1) {
    margin-top: 7%;
  }
  @media screen and (max-width: $max-width-small-0) {
    margin-top: 8%;
  }
  @media screen and (max-width: $max-width-small-1) {
    margin-top: 7%;
  }
  @media screen and (max-width: $max-width-small-3) {
    margin-top: 10%;
  }
}
@mixin agendaPopupContentLeftFontsize {
  font-size: 11pt;
  @media screen and (min-width: $max-width-big) {
    font-size: 12pt;
  }
  @media screen and (min-width: $max-width-big-0) {
    font-size: 13pt;
  }
  @media screen and (max-width: $max-width-medium-1) {
    font-size: 10pt;
  }
  @media screen and (max-width: $max-width-small-0) {
    font-size: 10.5pt;
  }
}
@mixin agendaPopupContentLeftMargin {
  margin-left: 70px;
  @media screen and (max-width: $max-width-medium-0) {
    margin-left: 50px;
  }
  @media screen and (max-width: $max-width-small-1) {
    margin-left: 0px;
  }
}
@mixin agendaPopupContentLeftWidth {
  width: 75%;
  @media screen and (max-width: $max-width-small-1) {
    width: 100%;
  }
}
@mixin agendaPopupContentLeftAndRightContainerWidth {
  width: 90%;
  @media screen and (max-width: $max-width-small-1) {
    // width: 90%;
  }
}
@mixin agendaPopupContentRightWidth {
  width: 25%;
  @media screen and (max-width: $max-width-small-1) {
    width: 100%;
  }
}
// ----------------------------------------------------------------------------------------------

#agenda {
  margin: 0 auto;
  @include RWDWidth;
  padding-top: 50px;
  padding-bottom: 50px;

  @include fontFamily-semibold;
  @include RWDFontSize;

  article {
    line-height: 2;
    margin: 50px 0;

    &.bold {
      @include fontFamily-bold;
    }
  }

  p.vote {
    text-align: center;
    padding: 50px 0;

    a.vote.button {
      display: inline-block;
      padding: 7px 20px;

      background-color: $indigo-blue;
      border: none;
      border-radius: 32px;
      @include fontFamily-black;
      color: white;
      @include RWDButton;
    }
  }

  ol.vote.rule {
    list-style-type: decimal;

    li {
      line-height: 2;
      // prevent marker overflow
      margin-left: 1.5em;
    }
  }

  div.event.container:not(.mobile) {
    display: flex;
    flex-direction: row;

    --gap: 30px;

    @media screen and (max-width: 1200px) {
      --gap: 20px;
    }
    @media screen and (max-width: 1024px) {
      --gap: 10px;
    }

    .event.block {
      flex: 1;
      margin: 0 calc(var(--gap) / 2);
    }

    .arrow {
      flex-basis: 0;
      align-self: center;
      width: 55px;

      @media screen and (max-width: 1200px) {
        width: 37px;
      }

      &:first-of-type {
        margin-right: calc(var(--gap) / 2);
      }

      &:last-of-type {
        margin-left: calc(var(--gap) / 2);
      }
    }
  }
}

.agendaPopup {
  z-index: 9999;
  height: 100%;
  width: 100%;
  position: absolute;
  // position: fixed;
  top: 0%;
  left: 0;
  background-color: rgba($black, 0.5);
  backdrop-filter: blur(5px);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;

  &-container {
    position: relative;
    // top: 50%;
    left: 50%;
    overflow: hidden;
    opacity: 0;
    @include agendaPopupContainerWidth;
    background-color: $white;
    box-shadow: 0 2rem 4rem rgba($black, 0.2);
    border-radius: 15px;
    display: table;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &-container {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }

  &__title {
    @include fontFamily-black;
    @include agendaPopupxTittle;
    // background-color: khaki;
    h1 {
      // @include agendaPopupxTittleH;
      @include agendaPopupxTittleH1Fontsize;
    }
  }

  &__content {
    width: 90%;
    height: 70%;
    @include agendaPopupContentMargin;

    &-left {
      @include fontFamily-semibold;
      float: left;
      @include agendaPopupContentLeftWidth;

      &-container {
        margin: 0 auto;
        @include agendaPopupContentLeftAndRightContainerWidth;

        article {
          p {
            // @include agendaPopupContentLeftMargin;
            @include agendaPopupContentLeftFontsize;
            line-height: 25px;
          }
        }
      }
    }
    &-right {
      float: left;
      @include agendaPopupContentRightWidth;

      &-container {
        margin: 0 auto;
        @include agendaPopupContentLeftAndRightContainerWidth;
      }
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    img {
      width: 40px;
    }
  }
}

@media screen and (max-width: $max-width-medium-1) {
  #agenda {
    p.vote {
      padding: 0;
    }

    div.mobile.event.container {
      .column {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;

        .event.block {
          width: 33%;
        }

        > :nth-child(2) {
          margin-left: 20px;
          margin-right: 20px;
        }

        // column with two item only
        > :last-child:nth-child(2) {
          margin-left: 10px;
          margin-right: 0;
        }

        // column with one item and two arrows
        > .arrow ~ :nth-child(2) {
          margin-left: 30px;
          margin-right: 30px;
        }

        &:not(:first-child) {
          // more vertically compact column
          margin-top: -20px;
        }
      }

      .arrow {
        // percentage height in flex with dynamic main size doesn't work
        // see more: https://www.w3.org/TR/css-flexbox-1/#change-201403-definite-flexing
        // height: 80%;

        // Setting its width then it works. magic, don't touch please
        width: 17.5%;
      }
    }
  }
}
