@import './breakpoint';
@import './color';

$fontFamily: "Noto Serif CJK TC -Black";

#agenda {
  margin: 0 auto;
  max-width: 1200px;

  font-family: $fontFamily;
  font-size: 22px;

  article {
    white-space: pre-wrap;
    line-height: 2;
  }

  p.vote {
    text-align: center;
    padding: 80px 0;

    a.vote.button {
      display: inline-block;
      padding: 7px 20px;
     
      background-color: $indigo-blue;
      border: none;
      border-radius: 32px;
      
      font: inherit;
      color: white;
      font-size: 26px;
      line-height: 1.44;
    }
  }

  ol.vote.rule {
    counter-reset: 0;

    li {
      line-height: 2;
    }
  }

  div.event.container {
    display: grid;
    grid-template-columns: min-content repeat(6, 1fr) min-content;
    column-gap: 30px;

    img.arrow {
      margin: auto;
      width: fit-content;
      height: calc(99/217 * 100%);
    }
  }
}