@import './font.scss';
@import './color.scss';
@import './breakpoint';

@mixin wrapperWidth {
  width: 70%;
  margin: 0 auto;
  @media screen and (max-width: $max-width-medium-0) {
    width: 80%;
  }
  @media screen and (max-width: $max-width-medium-1) {
    width: 85%;
  }
  @media screen and (max-width: $max-width-small-1) {
    width: 90%;
  }
  @media screen and (max-width: $max-width-small-2) {
    width: 95%;
  }
}
@mixin contentFontsize {
  font-size: 13.5pt;
  @media screen and (min-width: $max-width-big) {
    font-size: 15pt;
  }
  @media screen and (min-width: $max-width-big-0) {
    font-size: 17pt;
  }
  @media screen and (max-width: $max-width-medium-1) {
    font-size: 13pt;
  }
  @media screen and (max-width: $max-width-small-0) {
    font-size: 12.5pt;
  }
  @media screen and (max-width: $max-width-small-1) {
    font-size: 12pt;
  }
}

@mixin leftAndRightFlex {
  flex: 1;
  @media screen and (max-width: $max-width-medium-1) {
    flex: 1.5;
  }
  @media screen and (max-width: $max-width-small-2) {
    flex: 1.25;
  }
}
@mixin midFlex {
  flex: 8;
  @media screen and (max-width: $max-width-medium-1) {
    flex: 7;
  }
  @media screen and (max-width: $max-width-small-2) {
    flex: 7.5;
  }
}
@mixin buttonsBoxScale {
  transform: scale(1);
  @media screen and (max-width: $max-width-medium-0) {
    transform: scale(0.95);
  }
  @media screen and (max-width: $max-width-small-0) {
    transform: scale(0.9);
  }
  @media screen and (max-width: $max-width-small-3) {
    transform: scale(0.85);
  }
}

.ariticleParagraph {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;

  &-wraper {
    @include wrapperWidth;
  }
  &__left,
  &__right {
    @include leftAndRightFlex;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__left {
    img {
      left: 0;
    }
  }
  &__right {
    img {
      right: 0;
    }
  }
  &__mid {
    height: 100%;
    @include midFlex;
  }
  &-content {
    p {
      @include fontFamily-semibold;
      @include contentFontsize;
      line-height: 30px;
    }
  }

  &-buttonsBox {
    @include buttonsBoxScale;
    margin: 50px auto;
    width: 230px;
    height: 42px;
    a {
      float: left;
      background-color: $indigo-blue-dark;
      color: $white;
      width: 100px;
      height: 42px;
      &:nth-of-type(1) {
        margin-right: 30px;
      }
      border-radius: 50px;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 255, 0.18);
      text-align: center;
      span {
        @include fontFamily-black;
        display: block;
        padding-top: 12px;
      }
    }
  }
  &-arrow {
    width: 40px;
    @media screen and (max-width: $max-width-medium-1) {
      width: 37.5px;
    }
    @media screen and (max-width: $max-width-small-0) {
      width: 33px;
    }
    @media screen and (max-width: $max-width-small-1) {
      width: 30px;
    }
    @media screen and (max-width: $max-width-small-2) {
      width: 25px;
    }
    @media screen and (max-width: $max-width-small-3) {
      width: 20px;
    }
  }
}
