@import './font';
@import './breakpoint.scss';

@mixin bookTitleFontsize {
  font-size: 19pt;
  @media screen and (max-width: $max-width-medium-0) {
    font-size: 15pt;
  }
  @media screen and (max-width: $max-width-medium-1) {
    font-size: 20pt;
  }
}

div.block.title {
  display: flex;
  justify-content: center;
  align-items: center;

  @include bookTitleFontsize;
  @include fontFamily-black;
  font-weight: bold;

  line-height: 1.44;

  margin: 36px 0;

  position: relative;

  span.text {
    display: contents;
  
    &::before,
    &::after {
      display: inline-block;
      content: '';
      width: 1.44em;
      height: 1.44em;
      margin: auto;
      vertical-align: middle;
      background-image: url('../assets/images/title-block.svg');
      background-size: contain;
    }

    &::before {
      margin-right: 18px;
    }

    &::after {
      margin-left: 18px;
    }
  }

  &.single {
    span.text::after {
      display: none;
    }
  }

  &.left.aligned {
    justify-content: flex-start;

    span.text::before {
      margin-left: 0;
    }
  }
}
