$max-width-0: 1225px;
$max-width-1: 1175px;
$max-width-2: 1030px;
$max-width-3: 646px;
$max-width-4: 415px;

$max-width-35: 480px;

//agenda.scsss and  home.scss, header.scss breakpoint
$max-width-big-0: 1800px;
$max-width-big: 1500px;
$max-width-medium-0: 1100px;
$max-width-medium-1: 900px;
$max-width-small-0: 750px;
$max-width-small-1: 500px;
$max-width-small-2: 410px;
$max-width-small-3: 360px;

// home.scss breakpoint
$max-width-big-1: 1300px;

@mixin xs {
  @media (max-width: $max-width-4) {
    @content;
  }
}

@mixin subs {
  @media (max-width: $max-width-35) {
    @content;
  }
}

@mixin sm {
  @media (max-width: $max-width-3) {
    @content;
  }
}

@mixin md {
  @media (max-width: $max-width-2) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $max-width-1) {
    @content;
  }
}

@mixin xl {
  @media (max-width: $max-width-0) {
    @content;
  }
}
