@import 'breakpoint.scss';

// varible declare
$fontColor: white;
$backgroundColor: #1f4163;
$fontFamily: 'Noto Sans TC', monospace;

@mixin fontSize() {
  font-size: 14pt;
  line-height: 2;
  @include xl {
  }
  @include lg {
  }
  @include md {
  }
  @include sm {
    font-size: 14pt;
  }
  @include xs {
    font-size: 12pt;
  }
}

@mixin iconSize() {
  font-size: 2.2em;
  margin-right: 36px;
  @include xl {
    font-size: 2.1em;
    margin-right: 20px;
  }
  @include lg {
  }
  @include md {
    font-size: 1.8em;
  }
  @include sm {
  }
  @include xs {
    font-size: 1.6em;
  }
}

@mixin footerLayout() {
  // flex
  display: flex;
  flex-direction: row;
  justify-content: center;
  & > .footer-right {
    margin-left: 100px;
  }

  @include md {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // height: 320px;
    & > .footer-right {
      margin-left: 0;
    }
    & > * {
      margin-left: 0;
      width: 80%;
    }

    .footer-left {
      margin-bottom: 24px;
    }

    .footer-right {
      padding-bottom: 0;
    }
  }

  @include xs {
    & > * {
      width: 90%;
    }
  }
}
.footer-container-secondary {
  background: $backgroundColor;
  // position
  // position: absolute;
  // bottom: 0;
  // left: 0;
  margin-top: auto;

  // size
  width: 100vw;
  padding-top: 45px;
  padding-bottom: 45px;

  position: relative;
  z-index: 2;

  .footer-left {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    //margin-left: 100px;

    .footer-brand {
      margin-bottom: 24px;
    }
  }

  .footer-right {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 24px;
    //margin-left: 100px;

    .footer-context {
      margin-bottom: 14px;
    }
  }

  // layout
  @include footerLayout;
}

.footer-community-icon {
  .community-icon {
    @include iconSize;
    color: $fontColor;
  }
  .community-icon:first {
    margin-left: 0;
  }
}

.footer-context {
  @include fontSize;
  font-family: $fontFamily;
  color: $fontColor;
  font-weight: bold;
}

.footer-font-block {
  // display flex
  display: flex;
  flex-direction: column;
  // size
  width: auto;
}
