@import './color.scss';
@import './breakpoint.scss';
@import './font';

@mixin headerWidth {
  width: 88%;
  @media screen and (max-width: $max-width-small-0) {
    width: 92%;
  }
}

@mixin headerHeight {
  height: 62px;
  @media screen and (max-width: $max-width-medium-1) {
    height: 75px;
  }
}

// -------------------------------------------

// header-logo
@mixin headerLogoPosition {
  position: absolute;
  left: 35px;
  top: 50%;

  @media screen and (max-width: 900px) {
    left: 20px;
  }
  @media screen and (max-width: $max-width-small-3) {
    left: 15px;
  }
}
@mixin headerLogoWidth {
  width: 150px;

  @media screen and (max-width: $max-width-small-1) {
    width: 120px;
  }
  @media screen and (max-width: $max-width-small-2) {
    width: 95px;
  }
  @media screen and (max-width: $max-width-small-3) {
    width: 85px;
  }
}

// -------------------------------------------

// header-links
@mixin headerLinksFontSize {
  font-size: 12pt;
  @media screen and (min-width: $max-width-big) {
    font-size: 13.5pt;
  }
  @media screen and (min-width: $max-width-big-0) {
    font-size: 15pt;
  }
}
@mixin headerLinksWidth {
  width: 500px;

  @media screen and (min-width: $max-width-big) {
    width: 500px;
  }
  @media screen and (min-width: $max-width-big-0) {
    width: 680px;
  }
}
@mixin headerLinksMarginRight {
  margin-right: 92px;
  @media screen and (max-width: $max-width-medium-0) {
    margin-right: -35px;
  }
}
@mixin headerLinksLiPadding {
  padding: 22px 20px;
  @media screen and (max-width: $max-width-medium-0) {
    padding: 22px 8px;
  }
}

// -------------------------------------------

// header-apply
@mixin headerApplyWidthAndHeight {
  width: 95px;
  height: 38px;
  @media screen and (max-width: $max-width-medium-1) {
    width: 85px;
    height: 43px;
  }
  @media screen and (max-width: $max-width-small-1) {
    width: 75px;
    height: 40px;
  }
  @media screen and (max-width: $max-width-small-2) {
    width: 65px;
    height: 38px;
  }
  @media screen and (max-width: $max-width-small-3) {
    width: 55px;
    height: 35px;
  }
}
@mixin headerApplyFontsize {
  font-size: 12pt;
  @media screen and (max-width: $max-width-medium-1) {
    font-size: 11pt;
  }
  @media screen and (max-width: $max-width-small-1) {
    font-size: 10pt;
  }
  @media screen and (max-width: $max-width-small-2) {
    font-size: 9pt;
  }
  @media screen and (max-width: $max-width-small-3) {
    font-size: 8pt;
  }
}

// -------------------------------------------

// header-links--mobile
@mixin headerLinksMobilePosition {
  position: relative;
  left: 40%;
  top: 12px;

  @media screen and (max-width: $max-width-small-0) {
    left: 35%;
  }
  @media screen and (max-width: $max-width-small-1) {
    left: 25%;
  }
  @media screen and (max-width: $max-width-small-2) {
    left: 22%;
  }
  @media screen and (max-width: $max-width-small-3) {
    left: 24%;
  }
}
@mixin headerLinksMobileSelectWidth {
  width: 150px;
  @media screen and (max-width: $max-width-small-0) {
    width: 120px;
  }
  @media screen and (max-width: $max-width-small-1) {
    width: 115px;
  }
  @media screen and (max-width: $max-width-small-2) {
    width: 105px;
  }
  @media screen and (max-width: $max-width-small-3) {
    width: 90px;
  }
}
@mixin headerLinksMobileSelectFontsize {
  font-size: 14pt;

  @media screen and (max-width: $max-width-small-0) {
    font-size: 13pt;
  }
  @media screen and (max-width: $max-width-small-1) {
    font-size: 12pt;
  }
  @media screen and (max-width: $max-width-small-2) {
    font-size: 10.5pt;
  }
  @media screen and (max-width: $max-width-small-3) {
    font-size: 9pt;
  }
}
@mixin headerLinksMobileSelectPadding {
  padding-left: 10px;
  padding-bottom: 10px;

  @media screen and (max-width: $max-width-small-0) {
    padding-left: 3px;
    padding-bottom: 10px;
  }
  @media screen and (max-width: $max-width-small-3) {
    padding-bottom: 7px;
  }
}
// -------------------------------------------

// header_applyPopup
@mixin headerApplyPopupContainerHeight {
  height: 55%;
  @media screen and (min-width: $max-width-big) {
    height: 60%;
  }
  @media screen and (min-width: $max-width-big-0) {
    height: 65%;
  }
  @media screen and (max-width: $max-width-medium-0) {
    height: 60%;
  }
  @media screen and (max-width: $max-width-small-0) {
    height: 65%;
  }
  @media screen and (max-width: $max-width-small-1) {
    height: 70vh;
  }
  @media screen and (max-width: $max-width-small-3) {
    height: 80vh;
  }
}
@mixin headerApplyPopupContainerWidth {
  width: 55%;
  @media screen and (max-width: $max-width-medium-1) {
    width: 70%;
  }
  @media screen and (max-width: $max-width-small-0) {
    width: 80%;
  }
  @media screen and (max-width: $max-width-small-1) {
    width: 90%;
  }
  @media screen and (max-width: $max-width-small-3) {
    width: 95%;
  }
}
@mixin headerApplyPopupxTittle {
  width: 60%;
  margin: 5% 0 3% 5%;
  @media screen and (max-width: $max-width-small-1) {
    width: 90%;
    margin-top: 8%;
  }
  @media screen and (max-width: $max-width-small-3) {
    margin-top: 10%;
  }
}
@mixin headerApplyPopupxTittleH {
  margin-bottom: 2%;
  margin-left: 15%;
  @media screen and (max-width: $max-width-medium-0) {
    margin-left: 25%;
  }
  @media screen and (max-width: $max-width-medium-1) {
    margin-left: 30%;
  }
  @media screen and (max-width: $max-width-small-1) {
    margin-left: 0;
    transform: translateX(-8%);
    text-align: center;
  }
}
@mixin headerApplyPopupxTittleH1Fontsize {
  font-size: 25pt;
}
@mixin headerApplyPopupxTittleH2Fontsize {
  font-size: 12pt;
}
@mixin headerApplyPopupContentMargin {
  margin: 0 auto;
  @media screen and (max-width: $max-width-medium-0) {
    margin-top: 5%;
  }
  @media screen and (max-width: $max-width-medium-1) {
    margin-top: 7%;
  }
  @media screen and (max-width: $max-width-small-0) {
    margin-top: 8%;
  }
  @media screen and (max-width: $max-width-small-1) {
    margin-top: 7%;
  }
  @media screen and (max-width: $max-width-small-3) {
    margin-top: 10%;
  }
}
@mixin headerApplyPopupContentLeftFontsize {
  font-size: 11pt;
  @media screen and (min-width: $max-width-big) {
    font-size: 12pt;
  }
  @media screen and (min-width: $max-width-big-0) {
    font-size: 13pt;
  }
  @media screen and (max-width: $max-width-medium-1) {
    font-size: 10pt;
  }
  @media screen and (max-width: $max-width-small-0) {
    font-size: 10.5pt;
  }
}
@mixin headerApplyPopupContentLeftMargin {
  margin-left: 70px;
  @media screen and (max-width: $max-width-medium-0) {
    margin-left: 50px;
  }
  @media screen and (max-width: $max-width-small-1) {
    margin-left: 0px;
  }
}
@mixin headerApplyPopupContentLeftBr {
  display: none;
  @media screen and (min-width: $max-width-big) {
    display: block;
  }
}
@mixin headerApplyPopupContentLeftWidth {
  width: 60%;
  @media screen and (max-width: $max-width-small-1) {
    width: 100%;
  }
}
@mixin headerApplyPopupContentLeftAndRightContainerWidth {
  width: 100%;
  @media screen and (max-width: $max-width-small-1) {
    width: 90%;
  }
}
@mixin headerApplyPopupContentRightWidth {
  width: 40%;
  @media screen and (max-width: $max-width-small-1) {
    width: 100%;
  }
}
@mixin headerApplyPopupBox {
  font-size: 14pt;
  width: 60%;
  height: 110px;
  margin: 0 auto;
  margin-bottom: 20px;
  @media screen and (min-width: $max-width-big) {
    font-size: 14.5pt;
  }
  @media screen and (min-width: $max-width-big-0) {
    font-size: 15pt;
  }
  @media screen and (max-width: $max-width-medium-0) {
    font-size: 12pt;
    width: 70%;
  }
  @media screen and (max-width: $max-width-medium-1) {
    font-size: 14pt;
    width: 80%;
  }
  @media screen and (max-width: $max-width-small-0) {
    font-size: 12pt;
  }
  @media screen and (max-width: $max-width-small-1) {
    width: 40%;
    height: 120px;
    float: left;
    margin: 5% 5% 0 5%;
  }
  @media screen and (max-width: $max-width-small-2) {
    width: 45%;
    height: 120px;
    float: left;
    margin: 5% 2.5% 0 2.5%;
  }
  @media screen and (max-width: $max-width-small-3) {
    width: 48%;
    height: 120px;
    float: left;
    margin: 5% 1% 0 1%;
  }
}
@mixin headerApplyPopupBoxParagphFontsize {
  font-size: 11.5pt;
  @media screen and (min-width: $max-width-big) {
    font-size: 12pt;
  }
  @media screen and (min-width: $max-width-big-1) {
    font-size: 13pt;
  }
  @media screen and (max-width: $max-width-medium-0) {
    font-size: 11pt;
  }
  @media screen and (max-width: $max-width-medium-1) {
    font-size: 12pt;
  }
  @media screen and (max-width: $max-width-small-0) {
    font-size: 10pt;
  }
  @media screen and (max-width: $max-width-small-1) {
    font-size: 10pt;
  }
  @media screen and (max-width: $max-width-small-2) {
    font-size: 9.5pt;
  }
}

// ----------------------------------------------------------------------------------------------

.header {
  z-index: 99;
  position: relative;
  overflow-y: hidden;
  top: 35px;
  margin: 0 auto;
  @include headerWidth;
  @include headerHeight;
  border-radius: 73px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 255, 0.22);
  background-color: $white;

  // temporary applyPopUp overflow workaround
  overflow-x: hidden;

  &--sticky {
    position: sticky;
    z-index: 99;
    margin-top: 60px;
  }
  &__left {
    float: left;
    width: 20%;
  }

  &-logo {
    @include headerLogoPosition;
    @include headerLogoWidth;
    transform: translateY(-50%);
  }

  &__right {
    float: right;
    width: 80%;
  }

  &-links {
    &--mobile {
      @media screen and (min-width: $max-width-medium-1) {
        display: none;
        visibility: hidden;
      }
      @include headerLinksMobilePosition;

      select {
        z-index: 99;
        @include fontFamily-bold;
        @include headerLinksMobileSelectWidth;
        height: 60px;
        @include headerLinksMobileSelectPadding;
        @include headerLinksMobileSelectFontsize;
        background-color: $white;
        border: none;
        border-bottom: 4px solid $indigo-blue;

        &:focus {
          border: none;
          outline: none;
        }

        option {
          @include headerLinksMobileSelectFontsize;
          text-align: center;
        }
      }
      select:focus ~ &-bg {
        opacity: 1;
        display: block;
        transition: 0.3s linear;
      }

      &-bg {
        z-index: 90;
        opacity: 0;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba($black, 0.5);
        backdrop-filter: blur(3px);
      }
    }
    @media screen and (max-width: $max-width-medium-1) {
      display: none;
      visibility: hidden;
    }

    @include fontFamily-bold;
    @include headerLinksWidth;
    float: right;
    @include headerLinksMarginRight;
    height: 100%;
    height: 50px;
    top: 6px;

    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;

      li {
        float: left;
        margin: 0;
        padding: 0;
        height: 100%;
        display: block;
        text-align: left;
        @include headerLinksLiPadding;

        a {
          @include headerLinksFontSize;
          color: $black;
          padding-bottom: 15px;
        }
      }
    }
  }

  &-link--active {
    border-bottom: $indigo-blue solid 3.5px;
  }

  &-apply {
    @include fontFamily-black;
    @include headerApplyWidthAndHeight;
    border-radius: 38px;
    background-color: $indigo-blue;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    @include headerApplyFontsize;
    
  }

  &-applyPopup {
    z-index: 9999;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($black, 0.5);
    backdrop-filter: blur(5px);
    transition: all 0.3s;
    // opacity: 0;
    // visibility: hidden;

    &-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: auto;
      opacity: 0;
      // @include headerApplyPopupContainerWidth;
      // @include headerApplyPopupContainerHeight;
      width: 75%;
      height: 80%;
      max-width: 900px;
      min-width: 300px;
      background-color: $white;
      box-shadow: 0 2rem 4rem rgba($black, 0.2);
      border-radius: 15px;
      // display: table;
      transform: translate(-50%, -50%) scale(0.25);
      transition: all 0.5s 0.2s;
    }

    &:target, .active {
      opacity: 1;
      visibility: visible;
    }

    &:target &-container, .active {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }

    &__title {
      @include fontFamily-black;
      @include headerApplyPopupxTittle;
      h1 {
        @include headerApplyPopupxTittleH;
        @include headerApplyPopupxTittleH1Fontsize;
      }
      h2 {
        @include headerApplyPopupxTittleH;
        @include headerApplyPopupxTittleH2Fontsize;
      }
    }

    &__content {
      font-size: 14pt;
      @media screen and (max-width: 750px) {
        font-size: 12pt;
      }
      @media screen and (max-width: 550px) {
        font-size: 10pt;
      }
      & > section {
        width: 80%;
        margin: 30px auto;
      }
      & > .description {
        @include fontFamily-bold;
        width: 80%;
        margin: 30px auto;
        border-left:  5px solid #0025FF ;
        padding-left: 15px;
        line-height: 25px;
      }
      & >.image-link {
        display: grid;
        grid-template-columns:  repeat(4, 150px);
        grid-template-rows: 100px;
        @media screen and (max-width: 950px) {
          grid-template-columns:  repeat(2, 150px);
          grid-template-rows: repeat(2, 100px);
        }
        @media screen and (max-width: 500px) {
          grid-template-columns:  repeat(2, 120px);
          grid-template-rows: repeat(2, 80px);
        }
        justify-content: space-around;
        gap: 10px;
        a {
          width: 150px;
          height: 100px;
          border-radius: 20px;
          @media screen and (max-width: 500px) {
            border-radius: 10px;
            width: 120px;
            height: 80px;
          }
          display: block;
          position: relative;
          overflow: hidden;
          * {
            height: inherit;
            width: inherit;
            position: absolute;
          }
          .filter {
            background: transparent linear-gradient(180deg, #344EA302 0%, #1B2855F6 82%, #1A2752 100%);          }
          }
          .info {
            color: white;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            span {
              font-size: 15pt;
              text-align: center;
              align-self: center;
              height: 30px;
              @include fontFamily-semibold;
            }
            img {
              width: 30%;
              height: 30px;
            }
          }
      }
      & > .sponsor {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media screen and (max-width: 800px) {
          flex-direction: column;
        }
        @include fontFamily-bold;
        div {
          margin: 0;
          p {
            margin: 0px 0;
          }
        }
        .header-applyPopup-box {
          display: block;
          height:100px;
          margin: 10px 20px;
          flex-basis: 400px;
          @media screen and (max-width: 800px) {
            flex-basis: 150px;
            margin: 20px auto;
            width: 80%;
            max-width: 300px;
            max-height: 200px;
          }
        }
      }
      
    }

    &-box {
      @include headerApplyPopupBox;
      border-radius: 12px;
      border: solid 2.5px $dark-blue;
      position: relative;
      span {
        @include fontFamily-black;
        color: $black;
        text-align: center;
        width: 120px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
          @include fontFamily-bold;
          color: $gray;
          @include headerApplyPopupBoxParagphFontsize;
          margin-top: 20px;
          text-align: center;
        }
      }

      &:hover {
        span {
          color: $white;
        }
        background-color: $dark-blue;
      }
    }

    &__close {
      z-index: 9999;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      img {
        width: 40px;
      }
    }

    &-squareImg {
      float: left;
      width: 50px;
    }
  }
}
