// global
@import 'reset.scss';
@import 'variable.scss';
@import 'color.scss';
@import 'util.scss';
@import 'font.scss';

// components
// @import './footer.scss';
// @import './CFP/cfp_introduction.scss';
// @import './CFP/CFP.scss';
// @import './CFP/cfpSubNew.scss';
// @import "./news.scss";

.sitcon-burnfont {
  color: $mid-blue;
  font-weight: 900;
}

.link {
  cursor: pointer;
}

body {
  min-width: 100vw;

  position: relative;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  font-size: 13pt;
  font-family: 'Noto Sans TC', sans-serif;
}

#app {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

small {
  font-size: 0.66em;
}
