.popup {
    z-index: 9999;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(black, 0.5);
    backdrop-filter: blur(5px);
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    &:target {
      opacity: 1;
      visibility: visible;
    }
}