@import './color';
@import './font';


// workaround for add decoration in session table
#session-table:not(.mobile) {
  display: grid;
  row-gap: 30px;
  column-gap: 20px;

  & > .ccip-app, & > .ccip-app > .ccip-app.ccip-session-table.general {
    display: contents;
  }

  .decoration.bar {
    width: 32px;
    height: calc(100% - 20px * 2);
    margin: 20px auto;

    background-color: #627aa8;

    z-index: 0;
  }
}

.ccip-app {
  &.ccip-session {
    &-block {
      &.session-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        padding: 20px;

        background-color: white;
        // a big enough value to create pill
        border-radius: 100vh;
        box-shadow: 0 3px 10px 0 rgba(16, 96, 255, 0.75);

        line-height: 1.44;

        text-align: center;
        z-index: 1;

        .ccip-session-title {
          font-size: 14pt;
          font-weight: bold;
        }

        .ccip-session-speaker {
          font-size: 12pt;
        }

        .ccip-session-tags > .ccip-session-tag {
          border-radius: 1em;
          line-height: 1.44;
          font-size: 12pt;
          padding: 2px 10px;
          color: white;
          background-color: $indigo-blue;

          &::before {
            content: '#';
            display: inline-block;
          }
        }
      }

      &.clickable {
        cursor: pointer;
      }

      &.room-block {
        p {
          text-align: center;
        }
      }

      &.time-block {
        position: relative;

        p {
          position: absolute;
          top: -10px;
          padding: 2.5px 10px;
  
          background-color: $indigo-blue;
          border-radius: 1em;

          line-height: 1.47;
          color: #FFF;
        }
      }
    }
  }
}