@import './breakpoint';

#sponsor {
  .section {
    &-articleParagraph {
      width: 100%;
      padding-top: 110px;
      padding-bottom: 120px;
    }

    &-sponsors {
      width: 100%;
      // padding-top: 110px;
      // padding-bottom: 120px;
      background-color: lightcoral;
    }
  }
}
