@import '../breakpoint';
@import '../color';

.agenda.card:not(.container) {
  a.image.container {
    display: inline-block;
    width: 100%;
    line-height: 0; // prevent background overflow
    background-color: #ffffff;
    border-radius: 11px;
    box-shadow: 0 3px 15px 0 rgba(89, 120, 206, 0.56);

    // smooth transition from hover -> default state
    will-change: transform;
    transform: scale(1);
    transition-duration: 0.25s;

    img {
      border-radius: 11px;
      width: 100%;
    }

    &:hover {
      transform: scale(1.04);
      transition-duration: 0.25s;
    }
  }

  p.description {
    line-height: 1.55em;
    text-align: center;
    font-weight: 900;
  }
}
