@import "../color.scss";

.header {
  position: relative;
  z-index: 99;
  left: 6%;
  top: 60px;
  width: 88%;
  height: 62px;
  border-radius: 73px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 255, 0.22);
  background-color: $white;

  &--sticky {
    position: fixed;
    z-index: 99;
    left: 6%;
    top: 65px;
  }
  &__left {
    float: left;
    width: 20%;
  }

  &-logo {
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__right {
    float: right;
    width: 80%;
  }

  &-links {
    float: right;
    width: 600px;
    margin-right: 92px;
    height: 100%;
    height: 50px;
    top: 6px;

    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;

      li {
        float: left;
        margin: 0;
        padding: 0;
        padding: 22px 20px;
        height: 100%;
        display: block;
        text-align: left;
        // &:active {
        //   border-bottom: $indigo-blue solid 5px;
        // }

        a {
          font-size: 12pt;
          color: $black;
          padding-bottom: 15px;
        }
      }
    }
  }

  &-link--active {
    // padding-bottom: 10px;
    border-bottom: $indigo-blue solid 3.5px;
  }

  &-apply {
    width: 92px;
    height: 38px;
    border-radius: 38px;
    background-color: $indigo-blue;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    a {
      color: $white;
      font-size: 13pt;
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translateX(-35%) translateY(-50%);
    }
  }
}
