@import "../color.scss";
@import "../breakpoint.scss";
$font-home: "Noto Serif CJK TC -SemiBold";
$font-home-h1: "Noto Serif CJK TC -Bold";
$font-home-h2: "Letter Gothic Std Bold";
$font-home-button: "Noto Serif CJK TC -Black";

//default screen size width: 1440px

//section
@mixin sectionTitleHeight {
  height: 583px;
  @media screen and (min-width: $max-width-big) {
    height: 635px;
  }
  @media screen and (min-width: $max-width-big-0) {
    height: 700px;
  }
}
@mixin sectionContentHeight {
  height: 1900px;
  @media screen and (min-width: $max-width-big) {
    height: 2050px;
  }
  @media screen and (min-width: $max-width-big-0) {
    height: 2150px;
  }
}
// -------------------------------------------

//home__title
@mixin homeTitleFontsize {
  font-size: 18pt;
  @media screen and (min-width: $max-width-big) {
    font-size: 22pt;
  }
  @media screen and (min-width: $max-width-big-0) {
    font-size: 25pt;
  }
}
@mixin homeTitleTopicWidth {
  width: 500px;
  @media screen and (min-width: $max-width-big) {
    width: 600px;
  }
  @media screen and (min-width: $max-width-big-0) {
    width: 700px;
  }
}
// -------------------------------------------

//home__info
@mixin homeInfoTitleH1Fontsize {
  font-size: 26pt;
  @media screen and (min-width: $max-width-big) {
    font-size: 30pt;
  }
  @media screen and (min-width: $max-width-big-0) {
    font-size: 35pt;
  }
}
@mixin homeInfoTitleH2Fontsize {
  &--small {
    font-size: 19pt;
  }
  &--mid {
    font-size: 23pt;
  }
  &--big {
    font-size: 31pt;
  }
  @media screen and (min-width: $max-width-big) {
    &--small {
      font-size: 22pt;
    }
    &--mid {
      font-size: 27pt;
    }
    &--big {
      font-size: 35pt;
    }
  }
  @media screen and (min-width: $max-width-big-0) {
    &--small {
      font-size: 26pt;
    }
    &--mid {
      font-size: 32pt;
    }
    &--big {
      font-size: 40pt;
    }
  }
}
@mixin homeInfoParagraphFontsize {
  font-size: 12pt;
  @media screen and (min-width: $max-width-big) {
    font-size: 15pt;
  }
  @media screen and (min-width: $max-width-big-0) {
    font-size: 18pt;
  }
}
@mixin homeInfoButtonBox {
  height: 50px;
  width: 245px;
  margin-top: 40px;
  // background-color: burlywood;
  @media screen and (min-width: $max-width-big) {
    transform: scale(1.2) translateX(8%) translateY(20%);
  }
  @media screen and (min-width: $max-width-big-0) {
    transform: scale(1.4) translateX(14%) translateY(25%);
  }
}
//home__info  <img>
@mixin homeInfoImgWidth {
  width: 120px;
  @media screen and (max-width: $max-width-medium-0) {
    width: 80px;
  }
  @media screen and (min-width: $max-width-big) {
    width: 130px;
  }
  @media screen and (min-width: $max-width-big-0) {
    width: 150px;
  }
}
// ----------------------------------------------------------------------------------------------

.section {
  &-title {
    margin-top: 20px;
    @include sectionTitleHeight;
    // background-color: chartreuse;
  }
  &-content {
    @include sectionContentHeight;
    // background-color: cornsilk;
  }
}

.home {
  font-family: $font-home;
  position: relative;
  &__title {
    width: 75%;
    text-align: center;
    // background-color: cornflowerblue;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;

    &-box1 {
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 20px;
      // background-color: chocolate;
      height: 80px;
      width: 100%;
      p {
        @include homeTitleFontsize;
      }
    }

    &-topic {
      margin: 0 auto;
      @include homeTitleTopicWidth;
    }

    &-box2 {
      text-align: center;
      // background-color: chocolate;
      height: 80px;
      width: 100%;
      margin: 0 auto;
      margin-top: 80px;
      p {
        @include homeTitleFontsize;
      }
    }
  }

  &__info {
    width: 75%;
    padding-bottom: 75px;
    // background-color: darkseagreen;
    // border: 1px solid blueviolet;
    margin: 0 auto;

    position: relative;

    &-container {
      width: 75%;
      margin-left: 15%;
      // background-color: blanchedalmond;
    }

    &-title {
      // width: 80%;
      margin: 0 auto;
      // background-color: darkgray;
      position: relative;
      // height: 100px;
      h1 {
        font-family: $font-home-h1;
        @include homeInfoTitleH1Fontsize;
        padding-top: 25px;
      }

      h2 {
        font-family: $font-home-h2;
        padding-top: 25px;
      }

      &-h2 {
        @include homeInfoTitleH2Fontsize;
      }
    }

    &-paragraph {
      padding-top: 30px;
      // background-color: yellow;
      p {
        @include homeInfoParagraphFontsize;
        line-height: 33px;
        a {
          text-decoration: underline;
          color: $indigo-blue;
        }
      }
    }

    &-buttonsBox {
      @include homeInfoButtonBox;
    }
  }

  &-button {
    font-size: 12.5pt;
    font-family: $font-home-button;
    position: relative;
    top: 15px;
    color: $white;
    background-color: $indigo-blue;
    padding: 6px 17px 8px 17px;
    border-radius: 32px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 255, 0.18);
    margin-right: 20px;
  }

  &-squareImg {
    position: absolute;
    left: 0;
    transform: translateX(-130%);
    @include homeInfoImgWidth;
  }

  &-appleImg {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(25%) translateY(-12%);
    @include homeInfoImgWidth;
  }

  &-sponsorsImg {
    position: absolute;
    bottom: 0;
  }
}
