@import '../color.scss';
@import '../breakpoint.scss';
@import '../font';

$font-home-h2: 'Letter Gothic Std Bold';

//default screen size width: 1440px

//section
@mixin sectionTitleHeight {
  height: 583px;

  @media screen and (min-width: $max-width-big) {
    height: 635px;
  }
  @media screen and (min-width: $max-width-big-0) {
    height: 700px;
  }
  @media screen and (max-width: $max-width-small-1) {
    height: 535px;
  }
  @media screen and (max-width: $max-width-small-3) {
    height: 500px;
  }
}
@mixin sectionContentHeight {
  height: 1750px;
  @media screen and (min-width: $max-width-big) {
    height: 2050px;
  }
  @media screen and (min-width: $max-width-big-0) {
    height: 2150px;
  }
  @media screen and (max-width: $max-width-medium-1) {
    height: 1900px;
  }
  @media screen and (max-width: $max-width-small-1) {
    height: 2200px;
  }

  @media screen and (max-width: $max-width-small-3) {
    height: 2050px;
  }
}
// -------------------------------------------

//home__title
@mixin homeTitleFontsize {
  font-size: 18pt;

  @media screen and (min-width: $max-width-big) {
    font-size: 22pt;
  }
  @media screen and (min-width: $max-width-big-0) {
    font-size: 25pt;
  }
  @media screen and (max-width: $max-width-small-0) {
    font-size: 17pt;
  }
  @media screen and (max-width: $max-width-small-1) {
    font-size: 15pt;
  }
  @media screen and (max-width: $max-width-small-2) {
    font-size: 13pt;
  }
  @media screen and (max-width: $max-width-small-3) {
    font-size: 11pt;
  }
}
@mixin homeTitleWidth {
  width: 75%;
  @media screen and (max-width: $max-width-big-1) {
    width: 85%;
  }
  @media screen and (max-width: $max-width-small-1) {
    width: 92%;
  }
}

@mixin homeTitleTopicWidth {
  width: 500px;
  @media screen and (min-width: $max-width-big) {
    width: 600px;
  }
  @media screen and (min-width: $max-width-big-0) {
    width: 700px;
  }
  @media screen and (max-width: $max-width-small-0) {
    width: 400px;
  }
  @media screen and (max-width: $max-width-small-1) {
    width: 340px;
  }
  @media screen and (max-width: $max-width-small-2) {
    width: 320px;
  }
  @media screen and (max-width: $max-width-small-3) {
    width: 270px;
  }
}
@mixin homeTitleBox2PDisplay {
  &--p1 {
    display: block;
  }
  &--p2 {
    display: none;
  }
  @media screen and (max-width: $max-width-small-0) {
    &--p1 {
      display: none;
    }
    &--p2 {
      display: block;
    }
  }
}

// -------------------------------------------

//home__info
@mixin homeInfoWidth {
  width: 75%;
  @media screen and (max-width: $max-width-big-1) {
    width: 85%;
  }
  @media screen and (max-width: $max-width-small-1) {
    width: 92%;
  }
}
@mixin homeInfoPaddingBottom {
  padding-bottom: 75px;
  @media screen and (max-width: $max-width-medium-1) {
    padding-bottom: 50px;
  }
  @media screen and (max-width: $max-width-small-3) {
    padding-bottom: 30px;
  }
}
@mixin homeInfoContainerWidth {
  width: 75%;
  @media screen and (max-width: $max-width-medium-0) {
    width: 80%;
  }
  @media screen and (max-width: $max-width-medium-1) {
    width: 85%;
  }
  @media screen and (max-width: $max-width-small-0) {
    width: 90%;
  }
  @media screen and (max-width: $max-width-small-2) {
    width: 94%;
  }
  @media screen and (max-width: $max-width-small-3) {
    width: 98%;
  }
}
@mixin homeInfoTittleModifiedWidth {
  @media screen and (max-width: $max-width-medium-0) {
    width: 90%;
  }
  @media screen and (max-width: $max-width-medium-1) {
    width: 75%;
  }
}
@mixin homeInfoTitleH1Fontsize {
  font-size: 26pt;
  @media screen and (min-width: $max-width-big) {
    font-size: 30pt;
  }
  @media screen and (min-width: $max-width-big-0) {
    font-size: 35pt;
  }
  @media screen and (max-width: $max-width-small-0) {
    font-size: 22pt;
  }
  @media screen and (max-width: $max-width-small-1) {
    font-size: 20pt;
  }
  @media screen and (max-width: $max-width-small-1) {
    font-size: 18pt;
  }
}
@mixin homeInfoTitleH2Fontsize {
  &--small {
    font-size: 19pt;
  }
  &--mid {
    font-size: 23pt;
  }
  &--big {
    font-size: 31pt;
  }
  @media screen and (min-width: $max-width-big) {
    &--small {
      font-size: 22pt;
    }
    &--mid {
      font-size: 27pt;
    }
    &--big {
      font-size: 35pt;
    }
  }
  @media screen and (min-width: $max-width-big-0) {
    &--small {
      font-size: 26pt;
    }
    &--mid {
      font-size: 32pt;
    }
    &--big {
      font-size: 40pt;
    }
  }
  @media screen and (max-width: $max-width-medium-0) {
    &--small {
      font-size: 14pt;
    }
    &--mid {
      font-size: 17pt;
    }
    &--big {
      font-size: 24pt;
    }
  }
  @media screen and (max-width: $max-width-small-0) {
    &--small {
      font-size: 13pt;
    }
    &--mid {
      font-size: 15pt;
    }
    &--big {
      font-size: 21pt;
    }
  }
  @media screen and (max-width: $max-width-small-1) {
    &--big {
      font-size: 16pt;
    }
  }
  @media screen and (max-width: $max-width-small-2) {
    &--small {
      font-size: 11pt;
    }
  }
  @media screen and (max-width: $max-width-small-2) {
    &--small {
      font-size: 9pt;
    }
    &--mid {
      font-size: 12pt;
    }
    &--big {
      font-size: 14pt;
    }
  }
}

@mixin homeInfoParagraphPadding {
  padding-top: 30px;
  @media screen and (max-width: $max-width-small-1) {
    padding-top: 20px;
  }
}
@mixin homeInfoParagraphFontsize {
  font-size: 12pt;
  @media screen and (min-width: $max-width-big) {
    font-size: 15pt;
  }
  @media screen and (min-width: $max-width-big-0) {
    font-size: 18pt;
  }
  @media screen and (max-width: $max-width-small-0) {
    font-size: 11pt;
  }
  @media screen and (max-width: $max-width-small-3) {
    font-size: 10pt;
  }
}
@mixin homeInfoButtonBox {
  height: 50px;
  width: 250px;
  margin-top: 40px;
  @media screen and (min-width: $max-width-big) {
    transform: scale(1.2) translateX(8%) translateY(20%);
  }
  @media screen and (min-width: $max-width-big-0) {
    transform: scale(1.4) translateX(14%) translateY(25%);
  }
  @media screen and (max-width: $max-width-medium-1) {
    transform: scale(1.2) translateX(8%) translateY(5%);
  }
  @media screen and (max-width: $max-width-small-1) {
    transform: scale(1.1) translateX(5%) translateY(5%);
    width: 300px;
  }
  @media screen and (max-width: $max-width-small-2) {
    transform: scale(0.9) translateX(-6%) translateY(-20%);
  }
}
//home__info  <img>
@mixin homeInfoImgWidth {
  width: 120px;
  @media screen and (min-width: $max-width-big) {
    width: 130px;
  }
  @media screen and (min-width: $max-width-big-0) {
    width: 150px;
  }
  @media screen and (max-width: $max-width-medium-0) {
    width: 110px;
  }
  @media screen and (max-width: $max-width-small-1) {
    width: 90px;
  }
  @media screen and (max-width: $max-width-small-2) {
    width: 80px;
  }
  @media screen and (max-width: $max-width-small-3) {
    width: 70px;
  }
}
@mixin homeInfoSquareImgTranslate {
  transform: translateX(-130%);
  @media screen and (max-width: $max-width-medium-0) {
    transform: translateX(-110%);
  }
}
@mixin homeInfoAppleImgTranslate {
  transform: translateX(150%) translateY(-12%);
  @media screen and (max-width: $max-width-medium-0) {
    transform: translateX(100%) translateY(-12%);
  }
  @media screen and (max-width: $max-width-small-2) {
    transform: translateX(90%) translateY(-12%);
  }
}

// ----------------------------------------------------------------------------------------------

.section {
  &-title {
    margin-top: 20px;
    @include sectionTitleHeight;
  }
  &-content {
    @include sectionContentHeight;
  }
}

.home {
  @include fontFamily-semibold;
  position: relative;
  &__title {
    @include homeTitleWidth;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;

    &-box1 {
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 20px;
      height: 80px;
      width: 100%;
      p {
        @include homeTitleFontsize;
      }
    }

    &-topic {
      margin: 0 auto;
      @include homeTitleTopicWidth;
    }

    &-box2 {
      text-align: center;
      height: 80px;
      width: 100%;
      margin: 0 auto;
      margin-top: 80px;
      p {
        @include homeTitleFontsize;
      }

      @include homeTitleBox2PDisplay;
    }
  }

  &__info {
    @include homeInfoWidth;
    @include homeInfoPaddingBottom;
    margin: 0 auto;
    position: relative;

    &-container {
      @include homeInfoContainerWidth;
      margin: 0 auto;
    }

    &-title {
      margin: 0 auto;
      position: relative;

      h1 {
        @include homeInfoTitleH1Fontsize;
        @include fontFamily-bold;
        padding-top: 25px;
      }

      h2 {
        font-family: $font-home-h2;
        padding-top: 25px;
      }

      &-h2 {
        @include homeInfoTitleH2Fontsize;
      }

      &--1 {
        float: right;
        width: 100%;
        @include homeInfoTittleModifiedWidth;
      }

      &--2 {
        float: left;
        width: 80%;
        @include homeInfoTittleModifiedWidth;
      }
    }

    &-paragraph {
      clear: both;
      @include homeInfoParagraphPadding;
      p {
        @include homeInfoParagraphFontsize;
        line-height: 33px;
        a {
          text-decoration: underline;
          color: $indigo-blue;
        }
      }
    }

    &-buttonsBox {
      @include homeInfoButtonBox;
    }
  }

  &-button {
    font-size: 12.5pt;
    @include fontFamily-black;
    position: relative;
    top: 15px;
    color: $white;
    background-color: $indigo-blue;
    padding: 6px 17px 8px 17px;
    border-radius: 32px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 255, 0.18);
    margin-right: 20px;
  }

  &-squareImg {
    position: absolute;
    left: 0;
    @include homeInfoImgWidth;
    @include homeInfoSquareImgTranslate;
  }

  &-appleImg {
    position: absolute;
    top: 0;
    right: 0;
    @include homeInfoImgWidth;
    @include homeInfoAppleImgTranslate;
  }

  &-sponsorsImg {
    position: absolute;
    bottom: 0;
  }
}
