@import "../breakpoint";
@import "../color";
@import "../font";
// No need to import font; the fonts have been imported in App.vue
// @import '@/assets/scss/font';

#ocfp-schedule {
  position: relative;
  max-width: 80vw;
  margin: 0 280px;

  font-family: $fontFamily;
  font-size: 15pt;
  line-height: 2.1em;
  letter-spacing: 0.2px;
  color: $mid-blue;

  * {
    position: relative;
  }

  a {
    color: $mid-blue;
    text-decoration: underline;
  }

  h1 {
    font-size: 36pt;
    line-height: 1.45em;
    padding: 15px 0;
  }

  h2 {
    font-size: 27pt;
    line-height: 2em;
  }

  h3 {
    font-size: 18pt;
    line-height: 1.25em;
  }

  h1,
  h2,
  h3 {
    font-weight: 900;
  }

  ul {
    li {
      &::before {
        content: "•";
        margin: 2px;
        line-height: 42px;
      }
    }
  }

  section:not(:last-of-type),
  article:not(:last-of-type) {
    margin-bottom: 55px;
  }

  #theme-example {
    > p {
      padding: 20px 0;
    }
  }

  #theme-example ~ p {
    padding: 20px 0;
  }

  #example > p {
    word-wrap: break-word;
  }

  #presentation-example,
  #espresso-example {
    > p {
      padding-bottom: 40px;
    }

    .agenda.card.container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 62px;
      row-gap: 40px;
    }
  }
}

#code-of-conduct a {
  font-weight: 900;
}

@media screen and (max-width: 1365px) {
  #ocfp-schedule {
    margin: 0 120px;
  }
}

@media screen and (max-width: 1023px) {
  #ocfp-schedule {
    margin: 0 100px;

    h1 {
      font-size: 28pt;
    }

    #presentation-example,
    #espresso-example {
      margin-bottom: unset;
      .agenda.card.container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 42px;
        row-gap: 30px;
      }
    }
  }
}

@media screen and (max-width: $max-width-small-0) {
  #ocfp-schedule {
    margin: 0;
    max-width: 100vw;
    padding: 0 40px;
    font-size: 11pt;

    h1,
    h2 {
      font-size: 20pt;
      line-height: 2.69em;
    }

    h3 {
      font-size: 15pt;
      line-height: 1.5em;
    }

    h1,
    h2,
    h3 {
      padding: 0;
    }

    #schedule {
      margin-bottom: unset;
    }

    #theme-example ~ p {
      padding: 15px 0;
    }
  }
}
