@import "../hyperpoint.scss";

$width-svg-sitcon2021: 341px;
$width-svg-sitcon: 244px;
$width-svg-topic: 515px;
$width-svg-cfp: 368px;
$width-svg-date: 207px;
$width-svg-location: 227px;
$width-svg-news1: 259px;
$width-svg-news2: 285px;

#cfp-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 126px;

  img.svg {
    height: auto;
  }
  // z-index: 1;

  .spot-box {
    padding-bottom: 260px;

    .spot-box-row:not(:first-child) {
      margin-top: 32px;
    }
  }

  .info-box {
    .date-location {
      .date-wrapper {
        margin-bottom: 48px;
      }
    }
  }

  .info-box {
  width: 95vw;
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    align-items: flex-end;

    & > * {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .date-location {
      order: 1;
      margin-bottom: 72px;
      flex: 1;
    }
    .cfp-title {
      order: 2;
      flex: 1;
      position: relative;
      left: calc(#{$width-svg-cfp} * 0.07);
    }
    .cfp-news {
      order: 3;
      margin-bottom: 60px;
      flex: 1;
      position: relative;

      .btn-news-wrapper {
        margin: -48px;
      }
      .cfp-news__btn {
        position: relative;

        // @include
        &--1 {
          transform: translate(50%, 0%);
          &:hover {
            transform: translate(50%, -20%);
          }
        }
        &--2 {
          transform: translate(-50%, 280%);
          &:hover {
            transform: translate(-50%, 260%);
          }
        }
      }
    }
  }
}

// Layout for mobile
@include md {
  #cfp-header {
    .info-box {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      flex-wrap: wrap;

      .cfp-title {
        order: 1;
        flex: 0 0 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 72px;
      }

      .date-location {
        order: 2;
        flex: 0 0 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0;
        .date-wrapper {
          margin-bottom: 36px;
        }
      }
    }
  }
}

@include md {
  #cfp-header {
    padding-top: 72px;
    padding-bottom: 72px;

    .spot-box {
      padding-bottom: 400px;

      .spot-box-row:not(:first-child) {
        margin-top: 30px;
      }
    }

    .info-box {
      .cfp-title {
        margin-bottom: 56px;
        left: calc(#{$width-svg-cfp} * 0.06);
      }
      .date-location {
        .date-wrapper {
          margin-bottom: 36px;
        }
      }
      .cfp-news {
        order: 3;
        flex: 0 0 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 12px;
        .cfp-news__btn {
          position: relative;

          &--1 {
            top: -95px;
            &:hover {
              top: -100px;
            }
          }
          &--2 {
            top: -45px;
            &:hover {
              top: -50px;
            }
          }
        }
      }
    }
  }

  $scale: 0.8;
  #svg-sitcon2021 {
    width: $width-svg-sitcon2021 * $scale;
  }
  #svg-sitcon {
    width: $width-svg-sitcon * $scale;
  }
  #svg-topic {
    width: $width-svg-topic * $scale;
  }
  #svg-date {
    width: $width-svg-date * $scale;
  }
  #svg-location {
    width: $width-svg-location * $scale;
  }
  #svg-news1 {
    width: $width-svg-news1 * $scale;
  }
  #svg-news2 {
    width: $width-svg-news2 * $scale;
  }
  #svg-cfp {
    width: $width-svg-cfp * $scale;
  }
}

@include sm {
  #cfp-header {
    padding-top: 60px;
    padding-bottom: 60px;

    .spot-box {
      padding-bottom: 360px;

      .spot-box-row:not(:first-child) {
        margin-top: 20px;
      }
    }

    .info-box {
      .cfp-title {
        margin-bottom: 56px;
        left: calc(#{$width-svg-cfp} * 0.05);
      }
      .date-location {
        .date-wrapper {
          margin-bottom: 20px;
        }
      }
      .cfp-news {
        margin-bottom: 16px;

        .cfp-news__btn {
          position: relative;

          &--1 {
            top: -75px;
            right: -5px;
            &:hover {
              top: -80px;
            }
          }
          &--2 {
            top: 0px;
            &:hover {
              top: -5px;
            }
          }
        }
      }
    }
  }

  $scale: 0.7;
  #svg-sitcon2021 {
    width: $width-svg-sitcon2021 * $scale;
  }
  #svg-sitcon {
    width: $width-svg-sitcon * $scale;
  }
  #svg-topic {
    width: $width-svg-topic * $scale;
  }
  #svg-date {
    width: $width-svg-date * $scale;
  }
  #svg-location {
    width: $width-svg-location * $scale;
  }
  #svg-news1 {
    width: $width-svg-news1 * $scale;
  }
  #svg-news2 {
    width: $width-svg-news2 * $scale;
  }
  #svg-cfp {
    width: $width-svg-cfp * $scale;
  }
}

@include xs {
  #cfp-header {
    padding-top: 48px;
    padding-bottom: 48px;

    .spot-box {
      padding-bottom: 240px;

      .spot-box-row:not(:first-child) {
        margin-top: 20px;
      }
    }

    .info-box {
      .cfp-title {
        margin-bottom: 32px;
        left: calc(#{$width-svg-cfp} * 0.033);
      }
      .date-location {
        .date-wrapper {
          margin-bottom: 16px;
        }
      }
      .cfp-news {
        margin-bottom: 2px;
        position: relative;

        .cfp-news__btn {
          position: relative;

          &--1 {
            top: -45px;
            right: -25px;

            &:hover {
              top: -48px;
            }
          }
          &--2 {
            top: 5px;
            right: -21px;
            &:hover {
              top: 2px;
            }
          }
        }
      }
    }
  }

  $scale: 0.45;
  #svg-sitcon2021 {
    width: $width-svg-sitcon2021 * $scale;
  }
  #svg-sitcon {
    width: $width-svg-sitcon * $scale;
  }
  #svg-topic {
    width: $width-svg-topic * $scale;
  }
  #svg-date {
    width: $width-svg-date * $scale;
  }
  #svg-location {
    width: $width-svg-location * $scale;
  }
  #svg-news1 {
    width: $width-svg-news1 * $scale;
  }
  #svg-news2 {
    width: $width-svg-news2 * $scale;
  }
  #svg-cfp {
    width: $width-svg-cfp * $scale;
  }
}
