@import '../hyperpoint';
$fontFamily: Noto Sans TC;
$fontColor:  #226BB4;

// General settings: 
//    font-size and paragraph spacing for headers and paragraph text
#cfp-intro {
  margin-top: 90px;
  padding: 96px 0 0 0;

  h1,
  h2,
  h3 {
    margin-bottom: 24pt;
  }

  p {
    line-height: 1.75;
  }

  p:not(:last-child) {
    margin-bottom: 2em;
  }

  h1,
  .h1 {
    font-size: 42pt;
    font-weight: 900;
  }

  h2,
  .h2 {
    font-size: 26pt;
    font-weight: 900;
  }

  h3,
  .h3 {
    font-size: 22pt;
    font-weight: 900;
  }
}
.introduction{
    height: 2250px;
    overflow: hidden;
    padding-bottom: 0;
}
// Utiliy
#cfp-intro {
  .mr-2 {
    margin-right: 2em;
  }
  .ml-2 {
    margin-left: 2em;
  }
  .mt-1 {
    margin-top: 1em;
  }
}

#cfp-intro {
  .box-back {
    // margin-top: -120px;
    // width: 880px;
    margin-bottom: -40em;
    font-family: $fontFamily;
    color: $fontColor;

    width: 700px;
    padding: 20px;

    .first-box {
      transform: rotate(15deg);
      box-shadow: 0 3px 12px 0 rgba(89,120,206,.56);
      border-radius: 30px;
      position: relative;
      bottom: 550px;
      right: 50px;
      z-index: 0;
    }
    .introd-text {
      position: relative;
      top: 200px;
      left: 150px;
      z-index: 2;
    }
    .about-sitcon {
      margin-bottom: 0 auto 2em;
    }

    .past-sitcon {
      margin-bottom: 2em;
      width: 700px;

      .thumbnails {
        display: flex;
        flex-direction: row;
        padding: 0.25em 0;

        .thumb-wrapper {
          .thumb-title,
          .thumb-subtitle {
            margin: 0;
            font-size: 0.8em;
            line-height: 1.75em;
            font-weight: 900;
          }

          .small {
            font-size: 0.6em;
          }

          &:not(:last-child) {
            margin-right: 1em;
          }
        }
      }
    }

    .join-discuss {
      // empty
    }
  }

  .box-bluearea {
    width: 150vw;
    height: 450px;
    background: rgba(34, 107, 180,1);
    right: 25%;
    position:relative;
    z-index: -1;
    transform: rotate(15deg);
    opacity: 1;
  }

  .box-back2 {
    // width: 760px;
    font-family: $fontFamily;
    color: $fontColor;

    width: 900px;
    padding: 20px;
    height: 2200px;

    .about-topic {
      margin-bottom: 2em;
      position:relative;
      bottom: 75px;
      z-index: 2;
      left: 50px;
    }

    .second-box {
        transform: rotate(15deg);
        box-shadow: 0 3px 12px 0 rgba(89,120,206,.56);
        border-radius: 30px;
        position: relative;
        bottom: 1100px;
        right: 120px;
        z-index: 0;
    }

    .cfp-deadline {
      margin-bottom: 2em;
      margin-bottom: 2em;
      position:relative;
      z-index: 2;
      left: 50px;
      bottom: 75px;
      .cfp-deadline-content {
        margin-top: -1.5em;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
      }
    }

    .give-me-money {
      position:relative;
      z-index: 2;
      left: 50px;
      bottom: 75px;
      .whisper {
        font-weight: 900;
        font-size: 1.25em;
        margin-bottom: 0.5em;
      }
    }
  }
}

@include xs {
  #cfp-intro{
    h1,
    h2,
    h3 {
      margin-bottom: 10pt;
    }

    h1,
    .h1 {
      font-size: 36pt;
      font-weight: 900;
    }

    h2,
    .h2 {
      font-size: 20pt;
      font-weight: 900;
    }

    h3,
    .h3 {
      font-size: 18pt;
      font-weight: 900;
    }

    p {
      font-size: 11pt;
      line-height: 1.55;
      width:75vw;
    }

    p:not(:last-child) {
      margin-bottom: 2em;
    }
  }

  #cfp-intro{
    .box-back {
      margin-bottom: -44em;
      margin-left:-8em;
  
      .first-box {
        transform: rotate(12deg);
        bottom: 550px;
        left: 40px;
      }
      .introd-text {
        top: 100px;
      }
      .past-sitcon {
        margin-top:1em;
      }
    }
  }

  #cfp-intro{
    .box-bluearea {
      height: 280px;
      z-index: 0;
      transform: rotate(12deg);
    }
  }
  
  #cfp-intro{
    .box-back2 {
      margin-top:0em;
      margin-left:-3em;
  
      .second-box {
          transform: rotate(12deg) scale(0.65);
          bottom: 1260px;
          left:-13em;
      }
    }
    
    .give-me-money {
      top: 2em;
      .whisper {
        font-weight: 900;
        font-size: 1.25em;
        margin-bottom: 0.5em;
      }
    }
  }
}

@include sm {
  #cfp-intro{
    h1,
    h2,
    h3 {
      margin-bottom: 10pt;
    }

    p {
      font-size: 12pt;
      line-height: 1.85;
      width:75vw;
    }

    p:not(:last-child) {
      margin-bottom: 2em;
    }
  }

  #cfp-intro{
    .box-back {
      margin-bottom: -45em;
      margin-left:-4em;
  
      .first-box {
        transform: rotate(12deg) scale(0.9);
        bottom: 640px;
        left: -20px;
      }
      .introd-text {
        top: 100px;
      }
      .past-sitcon {
        margin-top:1em;
      }
    }
  }

  #cfp-intro{
    .box-bluearea {
      height: 280px;
      z-index: 0;
      transform: rotate(12deg);
    }
  }
  
  #cfp-intro{
    .box-back2 {
      margin-top:3em;
  
      .second-box {
          transform: rotate(12deg);
          bottom: 1100px;
      }
    }
  }
}

@include md{
  #cfp-intro{
    h1,
    h2,
    h3 {
      margin-bottom: 12pt;
    }

    p {
      font-size: 14pt;
      line-height: 1.85;
      width:80vw;
    }

    p:not(:last-child) {
      margin-bottom: 2em;
    }
  }

  #cfp-intro{
    .box-back {
      margin-bottom: -40em;
      margin-left:-6em;
  
      .first-box {
        transform: rotate(12deg);
        bottom: 600px;
        left: 20px;
      }
      .introd-text {
        top: 100px;
      }
      .past-sitcon {
        margin-top:1em;
      }
    }
  }

  #cfp-intro{
    .box-bluearea {
      height: 280px;
      z-index: 0;
      transform: rotate(12deg);
    }
  }
  
  #cfp-intro{
    .box-back2 {
      margin-top:0em;
      margin-left: -1em;
  
      .second-box {
          transform: rotate(12deg);
          bottom: 1150px;
          left:-6em;
      }
    }
  }
}